:80

@cors_preflight {
    method OPTIONS
}
respond @cors_preflight 204

header {
    Access-Control-Allow-Origin *
    Access-Control-Allow-Methods GET, OPTIONS
    Access-Control-Allow-Headers DNT,X-CustomHeader,Keep-Alive,User-Agent,X-Requested-With,If-Modified-Since,Cache-Control,Content-Type
    Access-Control-Max-Age 1728000
}

root * /srv/analog/public
file_server
try_files {path} /index.html

encode gzip