@import '../../../core/scss/globals.scss';

.wrapper {
  width: 100%;
  height: 76px;
  background: #f8f9fd;
  display: flex;
  flex-direction: column;
  gap: 8px;
  box-sizing: border-box;
  border-radius: 16px;
  //   border: 1px solid #EBECF1;
  overflow: hidden;
  transition: all 300ms;
  cursor: pointer;
  &.closed {
    height: 50px;
  }
  .header {
    display: flex;
    gap: 24px;
    padding: 24px;
    align-items: center;
    .square {
      display: flex;
      border-radius: 8px;
      width: fit-content;
      height: fit-content;
      background: getBaseColor($primary_pure);
      padding: 8px;
      img {
        width: 10px;
        height: 7px;
        transition: all 300ms;
        transform: rotate(0deg);
      }
      &.active {
        img {
          transform: rotate(180deg);
        }
      }
    }
    .title {
      font-family: 'Inter';
      font-style: normal;
      font-weight: 600;
      line-height: 100%;
      /* identical to box height, or 20px */
      display: flex;
      align-items: center;
      letter-spacing: -0.005em;

      color: #343063;
      font-size: 14px;

      @include medium {
        font-size: 16px;
      }
    }
  }
  .content {
    box-sizing: border-box;
    padding: 10px 48px 24px;
    font-size: 14px;
    font-weight: 400;
    font-family: 'Inter';
    color: getBaseColor($neutral_3);
  }
}
