@import '../../../core/scss/globals.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  align-items: center;
  justify-self: center;
  width: fit-content;
  gap: 20px;
  @include medium {
    gap: 40px;
    padding: 40px 60px;
  }
  @include large {
    gap: 60px;
    padding: 60px 80px;
  }

  .box {
    width: 100%;
    height: fit-content;
    background: getBaseColor($primary_down);
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    padding: 0 20px;
    align-items: center;
    justify-content: center;

    @media (min-width: 450px) {
      flex-direction: row;
    }
    @include medium {
      padding: 0 40px;
    }
    @include large {
      padding: 0 80px;
      flex-direction: row;
      width: fit-content;
    }
    .box_item {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-self: center;
      padding: 20px;

      @media (min-width: 450px) {
        padding: 40px;
        &.dashed {
          border-right: 1px dashed rgba(255, 255, 255, 0.482);
          border-left: 1px dashed rgba(255, 255, 255, 0.482);
        }
      }
      .count {
        font-family: 'Inter';
        color: WHITE;
        font-size: 32px;
        line-height: 100%;
        font-weight: 700;
        @include large {
          font-size: 48px;
        }
      }
      .label {
        font-family: 'Inter';
        color: white;
        font-size: 16px;
        text-wrap: nowrap;
        @include large {
          font-size: 24px;
        }
      }
    }
  }
}
