.nav_wrapper {
  display: flex;
  gap: 8px;
  padding: 24px;
  justify-content: space-between;
  align-items: center;
}

.logo_wrapper {
  display: flex;
  gap: 8px;
  align-items: center;
}

.logo_text {
  font-family: 'Inter';
  font-weight: 700;
  color: #665bd5;
  font-size: 24px;
  line-height: 1.2;
}

.menu_list_wrapper {
  text-decoration: none;
  display: inline-flex;
  gap: 48px;
  list-style: none;
  font-family: 'Inter';
  font-weight: 300;
  li {
    font-size: 14px;
    color: #7a798e;
  }
}
