@import '../../../core/scss/globals.scss';

.wrapper {
  display: flex;
  flex-direction: column;
  padding: 20px 40px;
  align-items: center;
  justify-self: center;
  gap: 20px;
  @include medium {
    gap: 40px;
    padding: 20px 60px;
  }
  @include large {
    gap: 60px;
    padding: 20px 80px;
  }
}
